<?xml version="1.0"?>
<config>
    <modules>
        <Dataman_Thumbnailslider>
            <version>0.1.0</version>
        </Dataman_Thumbnailslider>
    </modules>
    <frontend>
        <routers>
            <thumbnailslider>
                <use>standard</use>
                <args>
                    <module>Dataman_Thumbnailslider</module>
                    <frontName>thumbnailslider</frontName>
                </args>
            </thumbnailslider>
        </routers>
        <layout>
            <updates>
                <thumbnailslider>
                    <file>thumbnailslider.xml</file>
                </thumbnailslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<thumbnailslider>
				<use>admin</use>
				<args>
					<module>Dataman_Thumbnailslider</module>
					<frontName>thumbnailslider</frontName>
				</args>
			</thumbnailslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<thumbnailslider module="thumbnailslider">
				<title>Thumbnailslider</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="thumbnailslider">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>thumbnailslider/adminhtml_thumbnailslider</action>
					</items>
				</children>
			</thumbnailslider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Dataman_Thumbnailslider>
							<title>Thumbnailslider Module</title>
							<sort_order>10</sort_order>
						</Dataman_Thumbnailslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<thumbnailslider>
					<file>thumbnailslider.xml</file>
				</thumbnailslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <thumbnailslider>
                <class>Dataman_Thumbnailslider_Model</class>
                <resourceModel>thumbnailslider_mysql4</resourceModel>
            </thumbnailslider>
            <thumbnailslider_mysql4>
                <class>Dataman_Thumbnailslider_Model_Mysql4</class>
                <entities>
                    <thumbnailslider>
                        <table>thumbnailslider</table>
                    </thumbnailslider>
                </entities>
            </thumbnailslider_mysql4>
        </models>
        <resources>
            <thumbnailslider_setup>
                <setup>
                    <module>Dataman_Thumbnailslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thumbnailslider_setup>
            <thumbnailslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thumbnailslider_write>
            <thumbnailslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thumbnailslider_read>
        </resources>
        <blocks>
            <thumbnailslider>
                <class>Dataman_Thumbnailslider_Block</class>
            </thumbnailslider>
        </blocks>
        <helpers>
            <thumbnailslider>
                <class>Dataman_Thumbnailslider_Helper</class>
            </thumbnailslider>
        </helpers>
    </global>
</config>